html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #122A6D;
}

.header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border: solid black 3px;
    box-shadow: #f3f6fd;
}

.nav-item{
    margin: 20px;
}

.nav-item>ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    color: whitesmoke;
    padding: 10px;
    font-size: 24px;
}

.header .logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;

 
}
.search{
    margin-top: 5px;
    margin-left: 5px;
    height: 100px;
    /* width: 100vw; */
    border: solid black 3px;
}

.resto-container{
    margin: 10px;
    width: 200px;
}
.resto-container>img{
    width: 100%;
}
.resto-cuisines {
    color: whitesmoke; 
    font-size: 24px; 
    white-space: nowrap;
}
.bodypart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap:10px;  
    width: calc(100% - 20px); 
    margin-right: 10px;
}

.resto-cuisine {
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-right: 5px; /* Adjust margin between items */
}